<!-- Page Views Counter -->
<div class="page-views-counter">
  <div class="page-views-item today-views">
    <i class="fa-solid fa-calendar-day"></i>
    <span class="page-views-label">Today Visitors</span>
    <span class="page-views-value" id="today-views">-</span>
  </div>
  <div class="page-views-item total-views">
    <i class="fa-solid fa-eye"></i>
    <span class="page-views-label">Total Visitors</span>
    <span class="page-views-value" id="total-views">-</span>
  </div>
</div>

<script src="{{ '/assets/js/page-views.js' | relative_url }}"></script>
