<!-- Page Views Counter -->
<div class="page-views-counter">
  <div class="page-views-item">
    <i class="fa-solid fa-eye"></i>
    <span class="page-views-label">总访问量</span>
    <span class="page-views-value" id="total-views">-</span>
  </div>
  <div class="page-views-item">
    <i class="fa-solid fa-calendar-day"></i>
    <span class="page-views-label">今日访问</span>
    <span class="page-views-value" id="today-views">-</span>
  </div>
</div>

<script src="{{ '/assets/js/page-views.js' | relative_url }}"></script>
